{% extends 'base.html' %}

{% block title %}users{% endblock %}


{% block content %}


    <div class="container">
        {% for msg in messages %}
        <div class="alert alert-{{msg.level_tag}} alert-dismissible fade show  name" role="alert" >
          <strong> {{msg.message}}</strong>
          <button type="button" class="btn-close name1" data-bs-dismiss="alert" aria-label="close"></button>
      </div>
      {% endfor %}
    </div>

    <div class="box">
        <h2 style="text-align: center; color: #555; padding: 2px 10px; background: white; border-radius: 10px;"><span style="color: red;font-size: 80px;">+</span><span style="color: orange;">DISPENSARY</span></h2>    
        <form action="" method="POST">
            
            {% csrf_token %}
            {{form.notes}}
            <button class="btn btn-success">Add</button>
        </form>
    </div>



    {% endblock %}